@import (reference) "./app.less";

.HelloWorld{
  .rounded(5px);
  font-size: x-large;
  z-index: 1;
}

.background{
  background-color: darkseagreen;
  width: 1518px;
  height: 750px;
}

.fondInt{
    font-family: "Lucia Console", "Courier New", monospace;
    position: relative;
    font-size: 70px;
    left: 20%;
    top: 38%;
    z-index: 1;
}

.aws{
  position: relative;
  top:60%;
  left:10%;
  font-family: 'Brush Script MT', cursive;
  color:orangered;
  font-size: 50px;
  z-index: 1;
}

.azure{
  position: relative;
  top:0%;
  left:70%;
  font-family: 'Courier New', monospace;
  color: blue;
  font-size: 50px;
  z-index: 1;
}

.imgContainer{
  position:absolute;
  top:5.6%;
  left:1500px;
  width: 50px;
  height: 50px;
  z-index: 0;
}

